body{
    margin: 0;
    padding: 0;
}

#header
{
    font-size : 60px;
    font-weight : bold;
    text-align : center;
    vertical-align : middle;
}

#menu
{
    position:absolute;
}

#ul_menu 
{
    list-style-type:none;
}

#ul_menu  li 
{
    margin-left:2px;
    float:left; /*pour IE*/
}

#ul_menu  li a 
{
    font-size : 30px;
    font-weight : bold;
    display:block;
    float:left;   
    width:180px;
    color:black;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    border-color : #ffffff #ffffff #ffffff #ffffff
}

#ul_menu  li a:hover 
{
    background-color:#EEEFEF;
    border-color : #ffffff #000000 #ffffff #000000
}

#wrapper
{
    width:950px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#family_obj{
    top:5px;
}

#ul_family{
    
    display: block;
    width: 667px;
    margin-left: 97px;
}

  #list-family{
    list-style-type: none;

  }
  
   #list-family li{
    width: 208px;
    height: 300px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    float:left;
  }
  
   #list-family li h3{
    text-align: center;
/*    text-decoration: none;*/
  }
  
  #list-family li img{
    max-width: 208px;
  }

#footer
{
    text-align : center;
    color : #000000;
    width: 930px;
    margin : 0 auto;
    vertical-align : middle;
    clear: both;
    padding-top: 25px;
}

#main-container
{
    margin-top: 170px;
}

#sf-content
{

    width: 900px;
    margin: 0 auto;
}
