#titre1
{
	font-size : 60px;
	font-weight : bold;
	/*text-align : center;*/
	margin-left : 20px;
	margin-top : 25px;
	height : 80px;
	vertical-align : middle;
}

#wrapper_outer
{
	position:absolute;
	height:100%;
	top:0;
	left:0;
	width:100%;
}

#ul_menu 
{
 padding:0;
 margin-left : 20%;
 list-style-type:none;
}
 
#ul_menu  li 
{
 margin-left:2px;
 float:left; /*pour IE*/
}
 
#ul_menu  li a 
{
 font-size : 30px;
 font-weight : bold;
 display:block;
 float:left;   
 width:180px;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color : #ffffff #ffffff #ffffff #ffffff
}
 
#ul_menu  li a:hover 
{
 background-color:#EEEFEF;
 border-color : #ffffff #000000 #ffffff #000000
}

#wrapper
{
	min-height:100%;
	width:720px;/*largeur du site*/
	margin:auto;/*permet de centrer le site*/
	margin-top : 150px;
	margin-left : 380px;
	margin-right : 380px;
	margin-bottom : 50px;
}

footer
{
	text-align : center;
	color : #000000;
	margin-bottom :20px;
	border-top : 1px;
	border-bottom : 1px;
}
